@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

html {
	/* Prevent to add horizontal scroll bars 
	on the site when adding padding to any element */
	box-sizing: border-box;
}

body {
	background: linear-gradient(
		180deg,
		#ffffff 0%,
		#f3f8f7 49.91%,
		#fff9f5 94.19%
	);
	font-family: "Inter", sans-serif;
	margin: 0;
	overflow-x: hidden;
}

.wrapper {
	margin: auto;
	min-height: 100vh;
	position: relative;
	width: 1440px;
}

.title {
	color: #54575A;
	font-family: 'Inter';
	font-size: 64px;
	font-style: normal;
	font-weight: 500;
	height: 135px;
	left: 221px;
	line-height: 68px;
	position: absolute;
	top: 236px;
	width: 458px;
}
